# Ignore Python compiled files
*.pyc
__pycache__/

# Ignore environment files
.env
venv/
# Ignore log files
*.log

# Ignore Docker files



# Ignore node_modules for JavaScript/Node.js projects
node_modules/

# Ignore system files
.DS_Store
Thumbs.db
