annotated-types
anyio
certifi
charset-normalizer
click
colorama
exceptiongroup
fastapi
ffmpeg-python
future
h11
idna
joblib
nltk
numpy
pandas
pydantic
pydantic_core
python-dateutil
python-multipart
opencv-python
opencv-python-headless
imutils
easyocr
openpyxl
pytz
regex
requests
scikit-learn
scipy
six
sniffio
SpeechRecognition
starlette
threadpoolctl
tqdm
typing_extensions
tzdata
urllib3
uvicorn
torchaudio
transformers
sounddevice
bertopic
soundfile
