annotated-types
anyio
certifi
charset-normalizer
click
colorama
exceptiongroup
fastapi
ffmpeg-python
future
h11
idna
joblib
nltk
numpy
pandas
pydantic
pydantic_core
python-dateutil
python-multipart
pytz
regex
requests
scikit-learn
scipy
six
sniffio
SpeechRecognition
starlette
threadpoolctl
tqdm
typing_extensions
tzdata
urllib3
uvicorn
